.nav__logo {
  width: 250px;
  margin-left: 25px;
  margin-right: 140px;
  margin-bottom: 10px;
}

.navbar {
  border-bottom: 8px solid $base-red !important;
}

.navbar-toggler {
  margin-right: 25px;
}

span {
  color: #fff;
}

span:hover {
  color: #dc143c;
}

.navbar-toggler-icon {
  border: solid 2px $base-red !important;
  background-color: $base-red !important;
}

.navbar-toggler {
  background-color: $base-red !important;
}

.nav-icon {
  width: 10px;
  height: 10px;
}

.nav__number {
  color: #fff;
  margin-left: 25px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  .nav__logo {
    margin-right: 530px;
  }
}
